/* CSS Variables */
:root {
    --primary-font: "Nunito", sans-serif;
    --secondary-font: "Pacifico", cursive;
    --primary-color: #87cefa; /* Light Sky Blue */
    --secondary-color: #00bfff; /* Deep Sky Blue */
    --highlight-color: #16166b; /* Federal Blue */
    --background-color: #f0f8ff; /* Alice Blue */
}

/* General Styles */
body {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: var(--highlight-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
}

/* Button Styles */
.primary-btn {
    background-color: var(--primary-color);
    border: none;
}

.secondary-btn {
    background-color: var(--secondary-color);
    border: none;
}

.primary-btn:hover {
    background-color: var(--secondary-color);
}

.secondary-btn:hover {
    background-color: var(--primary-color);
}

/* Navbar Styles */
#navbar {
    background-color: transparent;
    transition: all 0.2s;
}

#navbar a {
    color: var(--highlight-color);
}

#navbar a:hover {
    color: var(--secondary-color);
}

/* Hero Section */
#hero {
    background: url("../images/clouds.png") center/cover;
    background-attachment: fixed;
    height: 75vh;
}

#hero h1 {
    font-size: 4rem;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 10px;
}

/* Calm Zone Section (Home Page) */
#calm-zone .image {
    height: 400px;
}

#calm-zone .image img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

/* Support Section */
#support .card {
    font-size: 0.9rem;
}

#support .card-img-top {
    height: 200px;
    object-fit: contain;
}

/* Footer */
footer {
    background: url("../images/clouds.png") center/cover;
    background-attachment: fixed;
}

footer i {
    color: var(--highlight-color);
    transition: all 0.2s;
}

footer i:hover {
    color: var(--primary-color);
}

/* Media Queries */

/* Medium Screens (768px and up) */
@media screen and (min-width: 768px) {
    #support .card {
        height: 500px;
    }
}

/* Large Screens (992px and up) */
@media screen and (min-width: 992px) {
    #calm-zone .image img {
        height: 400px;
        width: 400px;
    }
}

/* Extra Large Screens (1200px and up) */
@media screen and (min-width: 1200px) {
    #support .card {
        height: 600px;
    }
}
