/* CSS Variables */
:root {
    --primary-font: "Nunito", sans-serif;
    --secondary-font: "Pacifico", cursive;
    --primary-color: #87cefa; /* Light Sky Blue */
    --secondary-color: #00bfff; /* Deep Sky Blue */
    --highlight-color: #16166b; /* Federal Blue */
    --background-color: #f0f8ff; /* Alice Blue */
}

/* General Styles */
body {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    background: url("../images/clouds.png") center/cover;
    background-attachment: fixed;
    color: var(--highlight-color);
    padding-top: 56px; /* Height of Navbar */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
}

main {
    background-color: var(--background-color);
}

section {
    padding-top: 4rem;
}

/* Button Styles */
.primary-btn {
    background-color: var(--primary-color);
    color: var(--highlight-color);
    border: 1px solid var(--primary-color);
}

.secondary-btn {
    background-color: var(--secondary-color);
    color: var(--highlight-color);
    border: 1px solid var(--secondary-color);
}

.primary-btn:hover {
    color: var(--highlight-color);
    background-color: var(--background-color);
}

.secondary-btn:hover {
    color: var(--highlight-color);
    background-color: var(--background-color);
}

/* Navbar Styles */
#navbar {
    background-color: transparent;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#navbar a {
    color: var(--highlight-color);
}

#navbar a:hover {
    color: var(--secondary-color);
}

/* Hero Section */
#hero {
    height: 75vh;
}

#hero h1 {
    font-size: 4rem;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 10px;
}

/* Calm Zone Section (Home Page) */
#calm-zone .image {
    height: 400px;
}

#calm-zone .image img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

/* Support Section */
#support .card {
    font-size: 0.9rem;
}

#support .card-img-top {
    height: 200px;
    -o-object-fit: contain;
    object-fit: contain;
}

/* Footer */
footer i {
    color: var(--highlight-color);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

footer i:hover {
    color: var(--primary-color);
}

/* Calm Zone - Quotes Section */
#quotes {
    margin: 1rem;
    padding: 1rem;
}

#quotescarousel {
    border: 2px dotted var(--primary-color);
    border-radius: 10px;
}

#quotescarousel .carousel-item {
    min-height: 200px;
    margin: 5px;
}

#quotescarousel .carousel-item:not(.active) {
    position: absolute;
}

/* Calm Zone - Stress Tips Section */
#stress-tips #tipsAccordian * {
    color: var(--highlight-color);
}

/* Info Page */
h1#info-header {
    font-size: 2.25rem;
}

#info .card {
    color: #16166b;
}

/* Media Queries */
/* For screens with small heights (less than 550px) */
@media screen and (max-height: 550px) {
    #hero {
        height: 90vh;
    }
}

/** Small Screens (576px and up) */
@media screen and (min-width: 576px) {
    #quotescarousel .carousel-item {
        min-height: 150px;
    }

    h1#info-header {
        font-size: 3.5rem;
    }
}

/* Medium Screens (768px and up) */
@media screen and (min-width: 768px) {
    #support .card {
        height: 500px;
    }

    #info .card {
        height: 420px;
    }
}

/* Large Screens (992px and up) */
@media screen and (min-width: 992px) {
    #calm-zone .image img {
        height: 400px;
        width: 400px;
    }

    #quotescarousel .carousel-item {
        min-height: 125px;
    }

    #info .card {
        height: 500px;
    }
}

/* Extra Large Screens (1200px and up) */
@media screen and (min-width: 1200px) {
    #support .card {
        height: 600px;
    }

    #info .card {
        height: 425px;
    }
}
